/*
Stylesheet name: Main_style
Author: Kakebe Technologies
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
#General
# Colors
# Typography
#Layouts
#Navigation
#Components
#Utility Classes

*/

/*  General
	 ========================================================================== */
     html {
        scroll-behavior: smooth;
      }

      body {
        background: var(--anti-flash-white);
        color: var(--black);
    }

/*  Colors
	 ========================================================================== */
:root {
    --otw-pri-color: #c4c4c4;
    --otw-sec-color: #ffffff;
    --anti-flash-white: #f5f5f5;
    --almond: #e1ddd2;
    --otw-bistre: #f0eae8;
    --otw-white: #ffff;
    --otw-dark-coral: #D05A4C;
    --black: #1a1a1a;
}

/* Color classes */
    .white-bg { background-color: var(--otw-sec-color);}
    .dark-coral-bg {background-color: var(--otw-dark-coral);}


/*  Typograpghy
	 ========================================================================== */
    .text-bold {
        font-weight: bold;
    }

    .text-white {
        color: var(--otw-white);
    }


/*  Layouts
	 ========================================================================== */

.container-fluid{
    overflow: hidden;
}

/*  Header and sidebar navigation
	 ========================================================================== */
header {
    display: flex;
    justify-content: center;
    background-color: var(--otw-sec-color);
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    border-bottom: 1px solid #ddd;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

.header-title {
    padding: 10px;
}

#sidebar {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 230px;
    background-color: var(--otw-white);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.sticky-offset {
    top: 56px;
  }

.sticky-top {
    position: -webkit-sticky;
    position: fixed;
    /*top: 0; */
    z-index: 1020;
  }

nav {
    background-color: var(--otw-sec-color);
    margin: 0;
    width: inherit;
}

/* Header & sidebar for screen sizes <= 768px */

@media screen and (max-width: 768px) {
    .header-title {
        display: none;
    }

    nav li {
        display: inline;
    }

    nav a {
        display: block;
    }

    #sidebar {
        display: none;
    }
}

/* Navigation for screen sizes <= 768px */

@media screen and (max-width: 768px) {
    #mobile-nav { display: block;}
}

@media screen and (min-width: 768px) {
    #mobile-nav { display: none;}
}

/* Navigation links & dropdowns */
.nav-link {
    display: flex;
}

.nav-link span {
    padding-right: 10px;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: var(--otw-dark-coral) !important;
    background-color: transparent !important;
    /*border-left: 1px solid var(--otw-dark-coral);*/
  }
.nav-link:hover {
      color: var(--otw-dark-coral) !important;
  }


.nav-tabs .nav-link .active {
      background-color: var(--otw-dark-coral) !important;
  }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: var(--otw-dark-coral);
  }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link:hover {
    color: #fff;
    ;
  }

.nav-pills > .nav-item > .nav-link:hover {
    color: var(--otw-dark-coral) !important;
}

/*  Components
	 ========================================================================== */
.section-title {
    font-weight: bold;
}

/* Cards */
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    border-radius: 10%;
    margin: 20px;
    background-color: var(--otw-sec-color);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

@media screen and (max-width: 768px) {
    .card {
        width: 100%;
    }
}

.card-link {
    text-decoration: none;
    color: var(--black);
}

/* User profile image */
.user-dp {
    padding: 15px 0 15px 0;
}

.user-dp .material-icons {
    font-size: 100px;
    color: var(--otw-bistre);
}

/* Forms */

form {
    padding: 3%;
}

@media screen and (max-width: 768px) {
    .cis-form {
        width: 100%;
    }
}

.form-row {
    margin-bottom: 3%;
}

.col-heading {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

.form-anchor {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.form-group {
    margin-bottom: 20px;
    padding: 4px 0;
    position: relative; }
    .form-block {
    border: 1px solid #cccccc;
    margin-bottom: 8px;
    padding: 8px 12px;
}


.input-control {
    background-color: white;
    -webkit-appearance: none;
    border: 1px solid #cccccc;
    font-family: Arial;
    margin-bottom: 8px;
    padding: 8px 4px;
    position: relative;
    width: 100%;
    z-index: 3;
}
.input-control:focus {
    box-shadow: 0 0 6px rgba(0, 200, 222, 0.25);
    background-color: #fafafa;
}

.label-helper {
    position: absolute;
    opacity: 0;
    transition: .2s bottom, .2s opacity;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.input-control:focus + .label-helper, .input-control:invalid + .label-helper {
    bottom: 95%;
    font-family: arial;
    font-size: 14px;
    line-height: 1;
    opacity: 1;
    padding: 4px;
}
.input-control:invalid {
    border-left: 10px solid #f00;
 }
.input-control:invalid + .label-helper::after {
    color: #f00;
    content: "X";
    font-family: arial;
    font-size: 14px;
    line-height: 1;
    padding-left: 12px;
}

.p {
    text-align: center;
    padding-top: 50px;
}

input {
    margin: 10px 0 10px 0;
    border-radius: 5px;
}

.search-btn {
    width: 35%;
}

button {
    color: #fff !important;
    background-color: var(--otw-dark-coral);
}


/*  Utility classes
	 ========================================================================== */

.wrapper {
    margin: 10% 6% 10% 6%;
    padding: 3%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.center {
    display: flex;
    align-items: center;
}

/* Width classes */
.w-27 { width: 27%;}
.w-30 { width: 30%;}
.w-33 { width: 33%;}
.w-45 { width: 45%;}
.w-60 { width: 60%;}
.w-65 {width: 65%;}
.w-70 { width: 70%;}

.w-45-mr-5 {
    width: 45%;
    margin-right: 5%;
}

.w-45-ml-5 {
    width: 45%;
    margin-left: 5%;
}


/* Height classes */

.h-39px {
    height: 39px;
}

@media screen and (max-width: 768px) {
    .p-sm-0 {
        padding: 0 !important;
    }
}

/* Login Sections */
.img-center{
    margin-top: 160px;
}
.vh-100 {
    background-color: #f6eeee;

}

/* Display */

.d-md-block {
    display: block !important;
  }

